<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>EMT</title>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/bootstrap.min.css}"/>
    <script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/vendor/jquery-migrate/jquery-migrate.min.js}"></script>
    <script th:src="@{/assets/vendor/popper.min.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/bootstrap.min.js}"></script>
</head>
<body>
<main>
    <div class="container mx-auto text-center">
        <h4 class="mt-5 mb-5">Forgot password</h4>
        <form class="form col-5 mx-auto" enctype="multipart/form-data" method="post" action="/forgot_password">

            <div role="alert" id="alert" class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div role="alert" id="alert_success" class="alert alert-success alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="form-group">
                <label for="email">Enter your e-mail address:</label>
                <input id="email" type="email" class="form-control" name="email" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

    <script>

        var element = document.getElementById('alert');
        element.innerHTML = "[[${error}]]";
        if("[[${error}]]" === "")
            element.style.display = "none";
        else
            element.style.display = "block";

        var element_s = document.getElementById('alert_success');
        element_s.innerHTML = "[[${success}]]";
        if("[[${success}]]" === "")
            element_s.style.display = "none";
        else
            element_s.style.display = "block";

    </script>
</main>

</body>
</html>
