<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>EMT</title>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/bootstrap.min.css}"/>
    <script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/vendor/jquery-migrate/jquery-migrate.min.js}"></script>
    <script th:src="@{/assets/vendor/popper.min.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/bootstrap.min.js}"></script>
</head>
<body>
<main>
    <div class="container mx-auto text-center">
        <h4 class="mt-5 mb-5">Sign in</h4>

        <form class="form col-5 mx-auto" enctype="multipart/form-data" method="post" action="/">

            <div class="form-group">
                <label for="email">E-mail address:</label>
                <input id="email" type="email" class="form-control" name="email" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" type="password" class="form-control" name="password" required>
            </div>

            <div class="form-group form-inline mx-auto text-center">
                <label for="rememberUser">Remember me? </label>
                <input id="rememberUser" type="checkbox" class="form-control" name="rememberUser">
            </div>



            <button type="submit" class="btn btn-secondary">Sign In</button>
            <button class="btn btn-warning">
                <a class="btn-link text-light" th:href="@{/sign_up}">Sign Up</a>
            </button>
        </form>

    </div>
</main>

</body>
</html>
